@model List<Doktor>
@using HastaneRandevu.Utility

@if (TempData["basarili"] != null){
    <div class="row pt-3 pb-2">
    <h2 style="font-family:'Calibri'" >@TempData["basarili"]</h2>
    </div>
}
else{
    <div class="row pt-3 pb-2">
    <h2 style="font-family:'Calibri'" >Doktorlar</h2>
    </div>
}


<div class="row pt-3 pb-2">
<table class="table table-bordered">
    <thead>
    <tr>
        <th>
            Bolum
        </th>
        <th>
            Doktor Adi
        </th>
        
        
        
        
    </tr>
    </thead>

    <tbody>
        @foreach(var doktor in Model)
        {
            
        
        <tr>
            <td> @doktor.Bolum.bolumAdi</td>
            <td> @doktor.ad @doktor.soyad </td>
            @if (User.IsInRole(UserRoles.Role_Admin))
            {
                <td>
                <a asp-controller="Doktor" asp-action="EkleGuncelle" asp-route-id="@doktor.Id" type="button" class="btn btn-outline-success" style="width:125px">Guncelle</a>
                </td>
            }
            
            
            @if (User.IsInRole(UserRoles.Role_Admin))
            {
                <td>
                <a asp-controller="Doktor" asp-action="Sil" asp-route-id="@doktor.Id" type="button" class="btn btn-outline-danger" style="width:125px">Sil</a>
                </td>
            }
        </tr>
        }
    </tbody>
        
</table>
</div>

<div class="row pt-3 pb-2">
    @if (User.IsInRole(UserRoles.Role_Admin))
    {
        <div>
            <a asp-controller="Doktor" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">
                Doktor Ekle
            </a>
        </div>
    }
    
</div>